

<div class="container-fluid">



<button (click)="openAddBook()" *ngIf="!showBookForm"
class="btn btn-lg btn-outline-primary" >Add Book</button>

<button (click)="openEditBook()" *ngIf="!showBookForm" [disabled]="!currentBook"
class="btn btn-lg btn-outline-primary" >Edit Book</button>

<app-book-form *ngIf="showBookForm" 
(bookFormClose)="bookFormClose($event)" [book]="currentBook"></app-book-form>  

  <p>
    <ngb-alert *ngIf="message" [dismissible]="true">
      <strong>Warning!</strong> {{message}}
    </ngb-alert>
  </p>
 
    <app-book-row class="card" *ngFor="let b of bookList"
    [book]="b"
    (click)='clicked(b)'
    [class.bg-info]="isSelected(b)" [class.text-white]="isSelected(b)"></app-book-row>

    <app-book-details *ngIf="currentBook" [book]="currentBook">
 </app-book-details>


  

  </div>