<p>book-form works!</p>

{{message}}



<form [formGroup]="bookForm" (ngSubmit) = "onSubmit()"  >
<div class="form-group" >
    <label for="title"> Title</label>
    <input id="title" type="text" formControlName="title" class="form-control">
</div>
<div class="form-group" >
    <label for="isbn"> ISBN</label>

    <input id="isbn" type="text" formControlName="isbn" class="form-control">
</div>
<div class="form-group">
    <label for="summary"> Summary</label>
    <input id="summary" type="text" formControlName="summary" class="form-control">
</div>

<button type="submit" [disabled]="!bookForm.valid" class="btn btn-lg btn-primary">Submit</button>

<p>{{bookForm.value["title"]}}  {{bookForm.value["isbn"]}}</p>

<div *ngIf="title.invalid && title.touched" class="alert alert-danger" >
    Title is required and must be at least 4 characters
</div>
<div *ngIf="isbn.invalid && isbn.touched" class="alert alert-danger" >
    ISBN is required
</div>
<div *ngIf="summary.invalid && summary.touched" class="alert alert-danger" >
    Summary is required
</div>

</form>





